beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
idna==2.6
MySQL-python==1.2.5
Naked==0.1.31
progressbar==2.3
pycrypto==2.6.1
PyYAML==3.12
requests==2.18.4
shellescape==3.4.1
spider163==2.0
urllib3==1.22
