beautifulsoup4==4.6.0
bs4==0.0.1
cement==2.10.2
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
colorama==0.3.9
idna==2.6
Logbook==1.1.0
MySQL-python==1.2.5
Naked==0.1.31
pprint==0.1
progressbar==2.3
pycrypto==2.6.1
PyYAML==3.12
requests==2.18.4
shellescape==3.4.1
six==1.11.0
SQLAlchemy==1.1.15
SQLAlchemy-Utils==0.32.18
terminaltables==3.1.0
urllib3==1.22
Flask==0.12.2
