<!DOCTYPE html>
<html lang="en" ng-app="stat">
<head>
    <meta charset="UTF-8">
    <title>Welcome To Spider163</title>
    <link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/spider163.css">
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/macarons.js"></script>
    <script src="/static/js/stat.js"></script>


</head>
<body>
<div class="container index-body">
    <h2 class="m-h2 m-h2-mb">Spider163 <i>统计 · 分析</i></h2>
    <div class="row">
        <div class="i-c-g" id="index-group">
            <div class="col-md-4 col-sm-4 col-xs-6 i-c-item-outer">
                <div id="countPlaylist" style="width: 100%;height:400px;">
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 i-c-item-outer">
                <div id="countComment" style="width: 100%;height:400px;">
                </div>
            </div>
             <div class="col-md-4 col-sm-4 col-xs-6 i-c-item-outer">
                <div id="countLyric" style="width: 100%;height:400px;">
                </div>
            </div>
             <!--<div class="col-md-4 col-sm-4 col-xs-6 i-c-item-outer">-->
                <!--<div id="countLyric" style="width: 100%;height:400px;">-->
                <!--</div>-->
            <!--</div>-->
        </div>
    <div class="row">
        <div class="i-c-g" id="index-group">
            <div class="col-md-6 col-sm-4 col-xs-6 i-c-item-outer">
                <div id="gdType" style="width: 100%;height:400px;">
                </div>
            </div>
            <div class="col-md-6 col-sm-4 col-xs-6 i-c-item-outer">
                <div id="gdOver" style="width: 100%;height:400px;">
                </div>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="i-c-g" id="index-group">
            <div class="col-md-12 col-sm-4 col-xs-6 i-c-item-outer">
                <div id="author-comment-count" style="width: 100%;height:400px;">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="i-c-g" id="index-group">
            <div class="col-md-12 col-sm-4 col-xs-6 i-c-item-outer">
                <div id="music-comment-count" style="width: 100%;height:400px;">
                </div>
            </div>
        </div>
    </div>


    <div class="process"></div>
</div>




<div class="footer">
      <ul class="unstyled">
        <li>@time 2017.04.07</li>
          <li>@author 程天
              <a href="https://www.zhihu.com/people/toocooltohavefriends/activities" class="">知乎</a>
              <a href="" class="">微信</a>
              <a href="https://github.com/Chengyumeng" class="">GitHub</a></li>
      </ul>
    </div>


</body>
<script src="https://cdn.bootcss.com/angular.js/2.0.0-beta.16/angular2-all-testing.umd.dev.js"></script>
<script src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/js/lib/jquery-1.10.2_d88366fd.js"></script>
<script src="/static/js/stat.js"></script>
<!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->





</html>